@use "_resets";

$font: "Playfair Display", serif;
$second-font: "Jost", sans-serif;
$primary-color: black;

@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body {
    font-family: $second-font;
    font-size: 20px;
    color: white;
    height: 100vh;

    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.714)), url(./images/marek-piwnicki-FrQjnVgiFPQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: white;
    display: inline-block;
}

h1 {
    margin: 0;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 192, 203, 0.304), 0 0 0.2em rgba(255, 255, 255, 0.765);
    font-size: 2.5rem;
    font-family: $font;
}

.content-container {
    @include flexbox(column, center, end);
    height: 100%;
}

.content {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: auto;

    height: 100%;
    width: 50%;
    padding: 1rem;

    @include flexbox(column, center, center);
    gap: 1.5rem;
}

.content--header {
    text-align: center;
}

img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 100%;
    transition: .4s ease-out;

    &:hover{
        transform: rotate(-10deg);
    }
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.links a {
    list-style: none;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    width: 130px;
    padding-block: 1rem;
    transition: 0.5s ease;
    color: white;
    text-decoration: none;

    &:hover{
        outline: 5px white;
        box-shadow: inset 0 -6.5em 0 0 rgba(255, 255, 255, 0.348);

        &:nth-child(2),
        &:nth-child(3) {
            transform: rotate(10deg);      
        }

        &:nth-child(1),
        &:nth-child(4) {
            transform: rotate(-10deg);
            
        }
    }

}

.container--photo-credits {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 5px;
    font-size: .9rem;

    &.mobile{
        display: none;
    }
}

@media screen and (max-width: 1026px){
    h1 {
        font-size: 1.5rem;
    }

    img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 720px) {
    body {
        font-size: 1rem;
        padding: 1rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.155), rgba(0, 0, 0, 0.444)), url(./images/pexels-luqmaan-tootla-2929189.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1{
        font-size: 1.3rem;
    }

    .container--photo-credits{
        display: none;

        &.mobile{
            display: block;
            text-align: center;
        }
    }

    ul {
        padding: 0;
    }

    .links a {
        margin: 5px;
        
        &:nth-child(2):hover,
        &:nth-child(3):hover,
        &:nth-child(1):hover,
        &:nth-child(4):hover {
            transform: none;
        }

        &:active{
            box-shadow: inset 0 -6.5em 0 0 rgba(255, 255, 255, 0.348);
        }
    }

    .content {
        width: 100%;
        margin: 1rem;
        margin: 0 auto;
    }

    img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 409px) {

    h1 {
        font-size: 1.1rem;
    }

    .container--photo-credits {
        font-size: .8rem;
    }

    .links a{
        width: 100px;

    }

}